@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --GrayishBlue: hsl(217, 19%, 38%);
  --DarkGrayishBlue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);
}
.main {
  height: 100vh;
  background-color: var(--DarkBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box {
  font-family: "Manrope", sans-serif;

  width: 520px;
  background-color: var(--DarkGrayishBlue);
  border-radius: 10px;
  padding: 40px 30px 70px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--LightCyan);
  text-align: center;
}
.box h5 {
  font-size: 12px;
  letter-spacing: 3px;
  color: var(--NeonGreen);
  text-transform: uppercase;
}
.box p {
  font-size: 25px;
  padding-top: 10px;
  font-size: 25px;
}
.logo {
  margin: -30px;
  height: 60px;
  width: 60px;
  border-radius: 50px;

  background-color: var(--NeonGreen);
}
.logo img {
  padding-left: 18px;
  padding-top: 18px;
}
